@(u: User, liste: List[Contact])
@main("Liste des personnes") {

<!-- Si l'utilisateur à la grade "Administrateur" on affiche le contenu de la page -->

@if(u.getGrade.equalsIgnoreCase("Administrateur")){

    <!-- Contenu de la page qui sera généré par une boucle for qui recherche tous les message de contact dans la BDD -->

<h1 class="titremsgcontact">Liste des @liste.size() messages de contact</h1>
<div class="msgcontactliste"><ul class="msgcliste">
    @for(a <- liste) {
    <li>@a.getPseudo - @a.getMail -  @a.getObjet</br><a href="showcontactform/@a.id"><button class="btn contactliste">Voir</button></a> <a href="deletecontactform/@a.id"><button class="btn contactliste">Suppr</button></a></li> }
</ul>

    <div id="flush"><a href="/flush"><button class="btn contactliste">Tout effacer</button></a></div>

</div>

<!-- Si l'utilisateur n'a pas le grade "Administrateur" on le redirige vers une autre page -->

}else{
<script>window.location='@routes.HomeController.messagetempo("Test")';</script>
}
}
