 @(u: User, a: Contact)
@main("Visionnage d'un message de contact") {

<!-- Si l'utilisateur à la grade "Administrateur" on affiche le contenu de la page -->
    @if(u.getGrade.equalsIgnoreCase("Administrateur")){

    <!-- Contenu de la page -->

<h2 class="titremsgcontact"> @a.getPseudo - @a.getMail -  @a.getObjet </h2> 
<p class="contactmsg">@a.getMessage</p>

<!-- Si l'utilisateur n'a pas le grade "Administrateur" on le redirige vers une autre page -->

}else{
<script>window.location='@routes.HomeController.messagetempo("Test")';</script>
    }
}
