@(u: User, a: Contact)
@main("Visionnage d'un message de contact") {

@if(u.getGrade.equalsIgnoreCase("Administrateur")){
<h2 class="titremsgcontact"> @a.getPseudo - @a.getMail -  @a.getObjet </h2>
<p class="contactmsg">@a.getMessage</p>
}else{
<div class="wsdb_index">

    <script type="text/javascript">
var count = 4;
var redirect = "/index";

function countDown(){
    var timer = document.getElementById("timer");
    if(count > 0){
        count--;
        timer.innerHTML = "Vous allez être redirigé dans "+count+" secondes...";
        setTimeout("countDown()", 1000);
    }else{
        window.location.href = redirect;
    }
}

</script>


    <div class="redirec_texte">
        Vous n'avez pas la permission d'être ici !
        <br>

        <span id="timer">
<script type="text/javascript">countDown();</script>
</span>
    </div>
</div>
}
}
