@(userForm: Form[User])(implicit request: play.mvc.Http.Request, messages :play.i18n.Messages)

@main("Login") {
<div class="wsdb_login">
    
            <!-- Partie connexion avec bouton de connexion -->
    
<h1 class="wsdb_login_entitre">Connectez-vous</h1>
    
    <div class="wsdb_login_encadre">
        
        <!-- Formulaire de connexion -->
        
@helper.form(action = routes.Userapp.checklogin()){
    @helper.CSRF.formField
        
        <div class="login-group">
            
            <h3 class="wsdb_login_titre">Pseudo</h3>
                @helper.inputText(userForm("pseudo"),'_showConstraints->false,'_label ->null, 'class -> "contactboite required")
        </div>
        
        <div class="login-group">    
           
            <h3 class="wsdb_login_titre">Password</h3>
                                @helper.inputPassword(userForm("password"),'_showConstraints->false,'_label ->null, 'class -> "contactboite required", 'id -> "myInput")
            
        <div class="btnmontre">
        
        <input type="checkbox" onclick="myFunction()">Show Password
        
        </div>
            
                <script>function myFunction() {
                        var x = document.getElementById("myInput");
                        if (x.type === "password") {
                            x.type = "text";
                        } else {
                            x.type = "password";
                        }
                    }
                </script>
            
        </div>
        
        <div class="login-group">
            
            <div class="btncontactenvoie">
                
                <input class="loginbtn btn btn-md btn-primary" type="submit"  value="Se connecter"/> 
                
            </div>
            
        </div>
        
}
        
    </div>
    
            <!-- Partie enregistrement avec bouton de redirection -->
    
    <h1 class="wsdb_login_entitre">Pas encore de compte ? Créez-en un !</h1>
    
    <div class="login-group">
            
        <div class="btncontactenvoie">
                
            <a href="/register">
                
                <input class="loginbtn btn btn-md btn-primary" type="submit"  value="Créer un compte"/> 
                
            </a>
            
        </div>
        
    </div>
    
</div>
}
