@(u : User)

@main("Panneau d'administration") {

<!-- Si l'utilisateur à la grade "Administrateur" on affiche le contenu de la page -->
    @if(u.getGrade.equalsIgnoreCase("Administrateur")){

<div class="wsdb_admin">
    
<h1 class="wsdb_admin_entitre">Panneau d'administration</h1>
    
    <div class="wsdb_admin_encadre">
        
        <div class="admin-group">
                <article class="wsdb_admin_section">
                    
                    <!-- Allez vers la gestion d'utilisateur -->
                    <div class="wsdb_admin_section_part">
            <p class="wsdb_admin_section_titre">Gestion des utilisateurs:</p>
            <div class="btncontactenvoie admin">
                <a href="/userlist">
                <button class="loginbtn btn btn-md btn-primary">Allez vers
                    </button>
                </a> 
            </div>
                    </div>
                    
                    <!-- Allez vers la gestion des lobbys -->
                    <div class="wsdb_admin_section_part bis">
            <p class="wsdb_admin_section_titre">Créer des lobbys:</p>
            <div class="btncontactenvoie admin">
                <a href="/lobycreate">
                <button class="loginbtn btn btn-md btn-primary">Allez vers
                    </button>
                </a> 
            </div>
                    </div>
                    
            </article>
            
            
                 <article class="wsdb_admin_section bis">
                     
                     <!-- Allez vers la gestion des messages de contact-->
                    <div class="wsdb_admin_section_part">
            <p class="wsdb_admin_section_titre">Gestion des messages de contact:</p>
            <div class="btncontactenvoie admin">
                <a href="/listemsgformcontact">
                <button class="loginbtn btn btn-md btn-primary">Allez vers
                    </button>
                </a> 
            </div>
                    </div>
                    
                    <!-- Retourner vers la page de profil-->
                   <div class="wsdb_admin_section_part bis">
            <p class="wsdb_admin_section_titre">Retourner vers le profil:</p>
            <div class="btncontactenvoie admin">
                <a href="/profile">
                <button class="loginbtn btn btn-md btn-primary">Retour
                    </button>
                </a> 
            </div>
                    </div>
                    
            </article>
        </div>
    </div>
    
</div>

<!-- Si l'utilisateur n'a pas le grade "Administrateur" on le redirige vers une autre page -->

}else{
<script>window.location='@routes.HomeController.messagetempo("Test")';</script>
}
}

