@(userProfils : User)

@main("Profil") {
<div class="wsdb_login">

<!-- Entitre de la page de profil où on affiche le pseudo du joueur -->
    
<h1 class="wsdb_login_entitre">Profil de @userProfils.getPseudo et @userProfils.getPassword - @userProfils.getId</h1>
    
    <!-- Partie encadré où on affiche les statistiques du joueurs ainsi que des boutons -->
    <div class="wsdb_login_encadre">
        
        
        <div class="login-group">
            <h3 class="wsdb_profil_titre">Vos statistiques:</h3>
                <article class="wsdb_profil_stats">
            <p class="wsdb_profil_stats_info">Nombres de parties jouées:</p>
            <p class="wsdb_profil_stats_chiffre">XXXXX parties</p>
                    
            <p class="wsdb_profil_stats_info">Nombres de parties gagnées:</p>
            <p class="wsdb_profil_stats_chiffre">XXXXX parties</p>
            
            <p class="wsdb_profil_stats_info">Nombres de parties perdues:</p>
            <p class="wsdb_profil_stats_chiffre">XXXXX parties</p>
                    
            </article>
        </div>
        
        <div class="profil-group">
            <div class="btnprofil">
            <div class="btncontactenvoie profil bis">
                <a href="/unlog">
                <button class="loginbtn btn btn-md btn-primary">Se déconnecter
                    </button>
                </a> 
            </div>
            
        
            <div class="btncontactenvoie profil bis">
                <a href="/updateuser">
                <button class="loginbtn btn btn-md btn-primary">Modifier
                    </button>
                </a> 
            </div>
				
			<div class="btncontactenvoie profil bis">
                <a href="/lobylist">
                <button class="loginbtn btn btn-md btn-primary">Liste des jeux
                    </button>
                </a> 
            </div>
        
                <!-- On vérifié que le joueur possède le grade "Administrateur" afin qu'il puisse accéder au panneau d'administration -->
                @if(userProfils.getGrade.equalsIgnoreCase("Administrateur")){
            <div class="btncontactenvoie profil">
                <a href="/panneladmin">
                <input class="loginbtn btn btn-md btn-primary" type="submit"  value="Panneau d'administration"/> 
                </a>
            </div>
                }
        
            </div>
        </div>
    </div>
    
</div>

}
