@()

@main("Accueil") {
<div class="wsdb_index">
    
    <div class="wsdb_index_content">
        
        <p class="wsdb_entitre">Bienvenue sur WSDB !</p>
        
        <article style="wsdb_index_descri">
            
            <span class="wsdb_image index">
                    <img src="images/4211.png">
            </span>
            
            <p class="wsdb_index_texte"> WSDB est votre nouvelle référence de jeu en ligne ! </p>
            
            <p class="wsdb_index_textebis">Vous retrouverez sur notre site divers jeux qui vous feront prendre part à des séances de réflexions intenses afin que vous décorichiez la victoire. Lors de vos parties, vous devrez choisir entre plusieurs dilemne afin de faire payer votre adversaire dans le but de le mener à la défaite ! </p>
        
        
        </article>
    
    </div>
    
    <div class="wsdb_index_column">
    
    <article class="wsdb_index_content">
        
        <div class="wsdb_index_section">
            
        <span class="wsdb_image section">
            
            <img style="max-height:89px;max-width:89px;" src="images/4311.png"></span>
            
            <span class="wsdb_index_section_titre">Liste des jeux</span>
        
        </div>
    
    <p class="wsdb_index_section_descr">Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
    
    <p class="wsdb_index_section_btn">
        
        <a href="/lobylist" target="_self" class="contactbtn btn btn-md btn-primary">Allez vers la liste</a></p>
        
        </article>
    
    </div>

</div>

}
