<!DOCTYPE html>
<html class="ponny" lang="fr">
    <head>
        <title>Petit pêché mignon de monsieur Albert</title>
        <meta charset="utf-8">
	<meta http-equiv="refresh" content="60">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.ico")">
        <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato&family=Rosario&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
        
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery.js")"></script>
        
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery-ui.min.js")"></script>
        
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/bootstrap.min.js")"></script>
       
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/totop.js")"></script>
        
    </head>
    
    
    <body class="ponny">
        
    <div class="divpony">
        <p class="pony">♥ My Little Pony ! ♥</p>
    </div>

<div class="wsdb_pony">
    
    <i class="fa fa-heart" aria-hidden="true"></i>
    
</div>
        
    </body>
    
</html>



