@import play.mvc.Http.Request;

@(who : String ,objeux : Jeux, user : User)(implicit request: play.mvc.Http.Request, messages :play.i18n.Messages)

@main("Jeux") {
 

<div class="wsdb_index">
    
    <div class="wsdb_index_content">
           
		<p class="wsdb_entitre">Veuilliez choisir @user.getPseudo :</p>
            <br>
		<p class="wsdb_index_textebis">
			<input type="submit" class="contactbtn btn btn-md btn-primary" onclick="location.href='@controllers.routes.Jeuxapp.jouer(user.getPseudo,true,objeux.id)';" value="Coopérer" />
			ou
			<input type="submit" class="contactbtn btn btn-md btn-primary" onclick="location.href='@controllers.routes.Jeuxapp.jouer(user.getPseudo,false,objeux.id)';" value="Trahire" />
		<br>
		
		<h2>Somme des points </h2>
			<h3>J1: @objeux.getSommePointJ1()</h3>
			<h3>J2: @objeux.getSommePointJ2()</h3>
	
		<h2>Historique des points </h2>
			<h3>J1: @objeux.getPointJ1()</h3>
			<h3>J2: @objeux.getPointJ2()</h3>
	</div>
</div>

}
