@(liste:  List[Jeux])

@main("Liste des Loby") {
<h2>@liste.size() loby en ligne</h2>

    <ul>
        @for(p <- liste ) {
            <li><h3>noms: @p.getNoms, idSalle: @p.id</h3></li>
            <ul>
				<li>@{if (p.getUser1() > 0  ) ("Joureur :"+p.getPseudo1 +", id:"+p.getUser1) else "libre"  }</li>
               
                <li>@{if (p.getUser2() > 0  ) ("Joureur :"+p.getPseudo2 +", id:"+p.getUser2) else "libre"  }</li>
            </ul>
			<a href="joinloby/@p.id"><button class="btnformliste">y aller</button></a>
        }
    </ul>
}

