@import play.mvc.Http.Request;

@(jeuxform: Form[Jeux])(implicit request: play.mvc.Http.Request, messages :play.i18n.Messages)

@main("crée un loby") {
@helper.form(action = routes.Jeuxapp.resultatnewgame()) {
                @helper.CSRF.formField
                @helper.inputText(jeuxform("noms"))
                @helper.inputText(jeuxform("pseudo1"))
                @helper.inputText(jeuxform("pseudo2"))
                <input type="submit"  value="crée ta game"/>
            }
}
