/*!
 * CSS des autres pages du site
 * Projet WSDB
 */

/* CSS DE LA PAGE D'ACCUEIL */

/*  CSS mère contenu */

.wsdb_index{
    padding: 60px 100px 60px 100px;
}

/*  CSS titre Bienvenue */

.wsdb_entitre{
    text-align:center;
    font-family:'Oswald','Arial';
    font-size:4em;
    margin-bottom: -10px;
    color:rgba(78,78,78,1);
}

/*  CSS image soulignant le titre */

.wsdb_image.index{
    float:none;
    display:block;
    margin:auto !important;
    overflow:hidden;
    margin:1.45em 0em 2.15em 0em;
    max-height:22px;
    max-width:805px;
}

/*  CSS du texte sous le titre */

.wsdb_index_texte, .wsdb_index_textebis{
    font-size:1.20em !important;
    color:rgba(105,105,105,1);
    text-align: center !important;
}

/*  CSS du texte sous le titre */

.wsdb_index_texte{
    font-weight:700;
    margin-top: 40px;
}

/*  CSS mère de l'encadré grisé */

.wsdb_index_column {
    border-radius: 0 0 0 0;
    border: solid transparent;
    border: solid rgba(255,255,255,0);
    border-width: 0 0 0 0;
    box-shadow: none;
    background-color: #F3F3F3;
    background: rgba(243,243,243,1);
    background-clip: padding-box;
    margin: 100px 10px 20px 10px;
    padding: 20px 10px 20px 10px;
    word-wrap: break-word;
    box-sizing: border-box;
}

/*  CSS de l'encadré grisé */

.wsdb_index_section{
    margin:0.35em 0em 0.70em 0em;
    text-align:Center;
    line-height:1.71428571428571;
}

/*  CSS de l'image de l'encadré grisé */

.wsdb_image.section{
    float:none;
    display:block;
    text-align:center;
    overflow:hidden;
    margin:0em 0em 1.45em 0em;
}

/*  CSS du titre dans l'encadré grisé */

.wsdb_index_section_titre{
    font-family:'Oswald','Arial';
    font-size:1.7em;
    color:rgba(78,78,78,1);
}

/*  CSS du texte de l'encadré grisé */

.wsdb_index_section_descr{
    text-align:center;
    line-height:1.8;
    font-size:1em;
    color:rgba(105,105,105,1);
}

/*  CSS du bouton de l'encadré grisé */

.wsdb_index_section_btn{
    margin:1.45em 0em 0.35em 0em;
    text-align:Center;
    line-height:1.8;
}

/* FIN CSS DE LA PAGE D'ACCUEIL */







/* CSS DE LA PAGE DE CONTACT */

.wsdb_contact{
    padding: 30px 10px 30px 10px;
}

/*  CSS colonne de gauche */
.wsdb_contact_cg {
    width: 33vw;
    display: flex;
    float: left;
    margin-right: 150px;
}

/*  CSS colonne de droite  */
.wsdb_contact_cd {
    width: 30vw;
    display: flex;
}

/*  CSS du contenu de la colonne de droite  */
.wsdb_contact_cd_content {
    width: 100%;
}

/*  CSS des titres gris  */
.titrecontact{
    font-family:'Oswald','Arial';
    color:rgba(78,78,78,1);
    font-size: 2.5em;
    margin-bottom: 20px;
}

/*  CSS du paragraphe de la colonne de gauche  */
.paracontact{
    font-family:'Rosario';
    color:rgba(78,78,78,1);
    margin:0.4em 0em 1.4em 0em;
    line-height:1.5;
}

/*  CSS du paragraphe des coordonnées de la colonne de gauche  */
.paracontactcoordo{
    font-family:'Lato';
    color:rgba(78,78,78,1);
    margin-bottom: 0em;
    line-height:1.5;
    font-weight: 700;
}

/*  CSS des autres ligne de coordonnées de la colonne de gauche  */
.paracontactcoordo2{
    font-family:'Lato';
    color:rgba(78,78,78,1);
    line-height:1.5;
    font-weight: 700;
    margin: 0.2em 0 0 2.9em;
}

/*  CSS de l'image ping  */
.image_contact{
    float:left;
    overflow:hidden;
    margin:0em 1.4em 0em 0em;
}

/*  CSS du formulaire  */
#contactform, .paracontactform, .contactboite {
    float:left;
    width:100%;
}

/*  CSS des label du formulaire  */
.paracontactform{
    font-size: 14px;
    font-family: "Lato";
    font-weight: 400;
    font-style: normal;
    color: #4E4E4E;
    text-shadow: none;
    text-align: left;
    text-decoration: none;
    padding-right: 15px;
    margin-top: 10px;
    width: 33.333333333%;
}

/*  CSS permettant l'espace entre les labels du formulaire  */
.form-group:before, .form-group:after, .login-grou:before, .login-group:after, .register-grou:before, .register-group:after{
    content: " ";
    display: table;
    margin-bottom: 5px;
}

/*  CSS permettant l'espace entre les labels du formulaire  */
.form-group:after, .login-group:after, .register-group:after{
    clear: both;
}

/*  CSS des balises input du formulaire  */
.contactboite, .loginboite{
    border-radius: 4px 4px 4px 4px;
    border: 1px solid rgba(204,204,204,1);
    font-size: 14px;
    font-family: "Lato";
    color: #343434;
    text-align: left;
    text-decoration: none;
    background: rgba(255,255,255,1);
    background-clip: padding-box;
    padding: 6px;
    width: 100%;
    box-sizing: border-box;
    resize: none;
    width: 66.666666667%;
}

/*  CSS des boutons  */
.contactbtn {
    background-color: #21B8FE;
    background: rgba(33,184,254,1);
    background-clip: padding-box;
    color: #FFFFFF;
    border-color: #08B0FE;
    overflow: hidden;
    position: relative;
    display: table-cell;
}

/*  CSS de la division contenant le bouton  */
.btncontactenvoie{
    width: fit-content;
    margin: auto;
    margin-bottom: 35px !important;
}

/*  CSS pour la petite étoile rouge */
.required:first-child:after{
    color:red;
    content: '*';
    display: inline;
}

/*  CSS pour les titres bleus de pages showcontactform et listemsgcontactform */
.titremsgcontact{
    width: fit-content;
    margin: auto;
    margin-top: 10px !important;
}

/*  CSS pour la liste des messages de contact sur la page listemsgcontactform */
.msgcontactliste{
    width:fit-content;
    border: 2px solid #21B8FE;
    padding: 5px !important;
    background-color: #29537C;
    
    margin-top: 50px !important;
    margin-bottom: 50px !important;
    margin: auto;
    
    text-align: center;
    color: white;
    font-size: 16px;
}

/*  CSS pour la liste des messages de contact sur la page listemsgcontactform */
.msgcliste{
    width: 25vw;
    min-width: 323px;
    list-style: none;
    text-align: justify !important;
    padding: 0 5px 0 10px;
}

/*  CSS pour la liste des messages de contact sur la page listemsgcontactform */
.msgcliste li{
    text-align: center;
}

/*  CSS pour la liste des messages de contact sur la page listemsgcontactform */
.contactmsg{
    font-size:16px;
    margin-top: 20px;
}

/*  CSS pour le texte des messages de contact sur la page showcontactform */
.b_bleue{
    border: 1px solid #d7d7d7;
    background: #21B8FE;
    color: white;
    font-size: 16px;
    padding: 8px 10px;
    border-radius: 2px;
}

/*  CSS pour les boutons sur la page listemsgcontactform */
.btn.contactliste{
    background-color: white !important;
    border: 1px solid #21B8FE !important;
    background-clip: padding-box;
    color: #21B8FE !important;
    overflow: hidden;
    position: relative;
    display: table-cell;
    
    margin: 3px 0 15px 0;
}

/*  CSS pour les boutons sur la page listemsgcontactform */
.btn.contactliste:hover{
    background-color: #29537C !important;
    border: 1px solid white !important;
    background-clip: padding-box;
    color: white !important;
    overflow: hidden;
    position: relative;
    display: table-cell;
    
    margin: 3px 0 15px 0;
}

#flush{
    margin: auto;
    margin-top:10px !important;
    width: auto;
    text-align: center;
}

/*  Media-query */
@media (max-width: 1320px) and (min-width:768px){
    .wsdb_contact_cd, .wsdb_contact_cg {
    width: 50vw !important;
    margin:auto;
    float: none;
}
    
    .wsdb_contact_cd{
        margin-top: 25px;
    }
    
    .titrecontact{
        text-align: center;
    }
    
    .contactcoordo{
        width:200px;
        margin: auto;
    }

}
/*  Media-query */
@media (max-width:768px){
    .wsdb_contact_cd, .wsdb_contact_cg {
    width: 75vw !important;
    margin:auto;
    float: none;
}
    
    .wsdb_contact_cd{
        margin-top: 25px;
    }
    
    .titrecontact{
        text-align: center;
    }
    
    .contactcoordo{
        width:200px;
        margin: auto;
    }

}

/*  FIN CSS PAGE CONTACT  */

/*  CSS PAGE REDIRECTION  */

.redirec_texte{
    font-size:2em !important;
    font-weight:700;
    color:rgba(105,105,105,1);
    text-align: center !important;
}

/*  FIN CSS PAGE REDIRECTION  */

/*  CSS PAGE LOGIN et REGISTER */

/*  CSS pour l'entitre */
.wsdb_login_entitre, .wsdb_register_entitre{
    margin-top: 25px;
    text-align: center;
}

/*  CSS pour le titre */
.wsdb_login_titre, .wsdb_register_titre{
    width: 33.333333%;
    text-align: left;
    margin-top: 0px;
    padding-right: 15px;
    float:left;
    min-width:95px;
}

/*  CSS pour les input&label */
.login-group, .register-group{
    margin-top: 35px;
}

/*  CSS pour l'encadre bleu */
.wsdb_login_encadre, .wsdb_register_encadre{
    width: 70%;
    margin:auto;
    border: 10px outset rgba(33,184,254,1);
    padding: 5px 27px 27px 27px;
    min-width: 450px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/*  CSS pour le bouton */
.loginbtn, .registerbtn {
    background-color: #21B8FE;
    background: rgba(33,184,254,1);
    background-clip: padding-box;
    color: #FFFFFF;
    border-color: #08B0FE;
    overflow: hidden;
    position: relative;
    display: table-cell;
    font-size: 18px !important;
    margin-bottom: -25px !important;
}

/*  FIN CSS PAGE LOGIN et REGISTER */

/*  CSS PAGE PROFIL */

.wsdb_profil_titre{
    text-align: center;
    font-size:22px;
}

.wsdb_profil_stats{
    width:420px;
    margin: auto;
    margin-top: 50px;
}


.wsdb_profil_stats_info, .wsdb_profil_stats_chiffre  {
    text-align: left;
    float: left;
    font-size: 17px;
}
.wsdb_profil_stats_info{
    color: #21B8fE;
    width: 250px;
}

.wsdb_profil_stats_chiffre  {
    width: 120px;
}

.profil-group{
    width: 100%;
}

.btnprofil {
    height: 35px;
    margin: auto;
    margin-top: 50px;
    width: fit-content;
}

.btncontactenvoie.profil{
    float: left;

}

.btncontactenvoie.profil.bis{
        margin-right: 15px;
}

/*  Media-query */
@media only screen and (max-width:920px){
    .wsdb_contact_cd, .wsdb_contact_cg {
    width: 75vw !important;
    margin:auto;
    float: none;
}
    
    .wsdb_contact_cd{
        margin-top: 25px;
    }
    
    .titrecontact{
        text-align: center;
    }
    
    .contactcoordo{
        width:200px;
        margin: auto;
    }

}
